doctype html
html(lang="ko")
  head
    link(rel="icon" href="../images/list.svg")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title ADMIN
    link(rel="stylesheet", href="../css/reset.css")
    link(rel="stylesheet", href="../css/common.css")
    link(rel="stylesheet", href="../css/admin.css")
  body 
    include ../modal/adminModal/requestAdminModal.pug
    include ../modal/adminModal/todoFilterModal.pug
    include ../modal/adminModal/userFilterModal.pug
    .container.adminContainer
      .adminHeader
        .adTitle ADMIN
        .adNoti 
          span.notiIcon
            if(requests)
              button.iconNumber=`${requests.length}` 
            else
              button.iconNumber 없음
          span 승급요청
        button.adminHeaderBtn LOG OUT
      if(users)
        .adminName= userName + '님 안녕하세요'
      else
        .adminName 관리자 이름 없음
      .adminManage
        .subTitle 사용자 관리
        if(users)
          .subCount=`회원수 : ${users.length}명`
        else
          .subCount 회원수 : 0명
      .adminSetting
        button#openModalBtn.adminFilter
        button.deleteBtn 선택 삭제
        button.deleteBtn 전체 삭제
      .adminContent
        each user in users 
          .adminRow
            .check X 
            if(users)
              .table
                span='ID: ' + user.userId
                span='Name: ' + user.userName
            else
              .table 테이블 없음
            .btnCont
              button.editBtn
              button.deleteBtn  
      .adminManage
        .subTitle 투두리스트 관리
        if(todos)
          .subCount=`할일 : ${todos.length}명`
        else
          .subCount 할일 : 0개
      .adminSetting
        .adminFilter
        button.deleteBtn 선택 삭제
        button.deleteBtn 전체 삭제
      .adminContent
        each todo in todos 
          .adminRow
            .check X 
            if(todos)
              .table
                span='Num: ' + todo.todo_num
                span='content: ' + todo.todolist_cont
            else
              .table 테이블 없음
            .btnCont
              button.editBtn
              button.deleteBtn  
      
    .modal
      div(class="modalContent requestContent")
        .requestModalTitle 관리자 승급 요청
        .requestRowCont 
          .requestRow
            .requestId 홍길동
            .requestBtnCont
              button 수락 
              button 거절
          .requestRow
            .requestId 홍길동
            .requestBtnCont
              button 수락 
              button 거절
          .requestRow
            .requestId 홍길동
            .requestBtnCont
              button.okBtn 수락 
              button.noBtn 거절
        a(href="/admin")
          button.modalBtn 확인
    script(src="./js/modal.js")
    //- script(src="./js/validate/joinValidate.js" type="module")
    script(src="./js/validate.js" type="module")