doctype html
html(lang="ko")
  head
    link(rel="icon" href="../images/list.svg")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title TODO LIST
    link(rel="stylesheet", href="../css/reset.css")
    link(rel="stylesheet", href="../css/common.css")
    link(rel="stylesheet", href="../css/todo.css")
    link(rel="stylesheet", href="../css/todoForm.css")
  body#body
    include ../modal/todoModal/addTodoModal.pug
    include ../modal/todoModal/deleteTodoModal.pug
    include ../modal/todoModal/detailModal.pug
    include ../modal/todoModal/editModal.pug
    include ../modal/todoModal/myPageModal.pug
    include ../modal/todoModal/confirmTodoModal.pug

    .container.todoContainer
      .navSection
        //- button(class="tagSearchBtn") OPEN
        //-   span 태그로 검색
        button.myPageBtn
          span.myPageIcon
          span MY
        button.logout LOG OUT
      .processSection
        .processLabel 진행률
        .processNumber#progressNumber
        .processBar
          .barFull 
            span.barNumber#barNumber
      .headerSection
        a(href="/todo/todoMain").headerTitle
          span.headerIcon
          span TODO LIST
        if (userName)
            .headerHello= userName + '님 안녕하세요'
        else
            .headerHello GUEST님 안녕하세요
      .todoHeader
          .todoCont.clicked TODO
          .addCont#openModalBtn(data-open-modal="addTodoModalShow") + NEW
          .DoneCont DONE  
      .todoSection
        if(todos)
          each todo in todos
            if (todo)
              .todoRow(data-todoId=todo.userId,data-todoNum=todo.todo_num, class=(todo.status === '대기 중' ? 'waiting' : 'done'),data-todoDesc=todo.todo_desc,data-todoFile=todo.todo_file )
                - if (todo.due_date)
                  - var dueDate = new Date(todo.due_date);
                  - var formattedDueDate = dueDate.toLocaleDateString('ko-KR', { year: 'numeric', month: '2-digit', day: '2-digit' });
                  .rowDate= formattedDueDate
                - if (todo.todolist_cont)
                  .rowDesc= todo.todolist_cont
                .rowTag
                  - if (todo.todo_tag)
                    each tag in todo.todo_tag.split(',')
                      span.rowTagData= tag.trim()
                button.rowControl
                    span.rowControlIcon
                .rowBtns
                  button#doneRow
                    span.doneBtn
                  button#editRow
                    span.editBtn
                  button#deleteRow
                    span.deleteBtn
                  button#closeRow
                    span.closeBtn
            else
              .todoRow 없어
    
    script(src="../js/todoData/addTodo.js" type="module")
    script(src="../js/todoData/deleteTodo.js" type="module")
    script(src="../js/filterTodo.js")
    script(src="../js/todoStatus.js")
    script(src="../js/todoData/todoDetail.js")
    script(src="../js/todoData/btnControl.js")
    script(src="../js/user/logout.js") 
    script(src="../js/todoData/todoEdit.js" type="module")
    script(src="../js/todo/myPageModal.js")
    //- script(src="../js/modal.js")
    script(src="../js/controlModal.js" type="module")
    script(src="../js/nowDate.js")
